n8n-daily-tally-sync-workflow-v2.json
{
  "name": "Shreerang Trendz \u2014 Daily Tally Sync v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            },
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 0
            },
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "3x Daily Trigger (6AM, 2PM, 9:30PM IST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://zdekydcscwhuusliwqaz.supabase.co/functions/v1/tally-health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "health-check",
      "name": "Check Tally Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.tally }}",
              "rightValue": "online",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-tally-online",
      "name": "Is Tally Online?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.shreerangtrendz.com/api/tally-sync",
        "method": "POST",
        "contentType": "json",
        "body": "{}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "sync-all",
      "name": "Sync Purchase + Sales \u2192 Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://zdekydcscwhuusliwqaz.supabase.co/rest/v1/tally_sync_log",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "order",
              "value": "synced_at.desc"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "select",
              "value": "sync_type,records_synced,synced_at"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-sync-summary",
      "name": "Get Sync Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        200
      ]
    }
  ],
  "connections": {
    "3x Daily Trigger (6AM, 2PM, 9:30PM IST)": {
      "main": [
        [
          {
            "node": "Check Tally Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tally Health": {
      "main": [
        [
          {
            "node": "Is Tally Online?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Tally Online?": {
      "main": [
        [
          {
            "node": "Sync Purchase + Sales \u2192 Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Sync Purchase + Sales \u2192 Supabase": {
      "main": [
        [
          {
            "node": "Get Sync Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "tally",
    "sync",
    "shreerang"
  ]
}